@use './styles/variables' as vars;

html {
  font-family: vars.$font-family-base;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$font-family-heading;
  font-weight: 500;
}
